<h1>Login</h1>

<div class="row">
  <div class="col">
    <div class="login-container">
      <mat-form-field>
        <input matInput type="text" placeholder="Id" [(ngModel)]="user.id" />
        <button mat-button *ngIf="user.id" matSuffix mat-icon-button aria-label="Clear" (click)="user.id=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="float-right">
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</div>