version: '3'
services:
  mongodb:
    image: mongo
    container_name: workshop_mongo
    volumes:
      - ~/data/db:/data/db
    ports:
      - 27017:27017

  elasticsearch:
    image: elasticsearch
    container_name: workshop_elasticsearch
    volumes:
      - ~/esdata:/usr/share/elasticsearch/data
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      ES_JAVA_OPTS: "-Xmx4096m -Xms1024m"

  kibana:
    image: kibana
    ports:
      - 5601:5601

  redis:
    image: redis

  workshop:
    image: com.workshop/app
    ports: 
      - 8080:8080
    depends_on:
      - mongodb
      - elasticsearch
    environment:
      # - spring.data.mongodb.uri: mongodb://workshop-mongo
      JAVA_OPTS: "-Xmx4096m -Xms1024m"
