version: '3'
services:
  mongodb:
    image: mongo
    volumes:
      - ~/data/db:/data/db
    ports:
      - 27017:27017

  elasticsearch:
    image: elasticsearch
    volumes:
      - ~/esdata:/usr/share/elasticsearch/data
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx4096m -Xms1024m"

  kibana:
    image: kibana
    ports:
      - 5601:5601
