<mat-toolbar>
    <span>User Detail</span>
    <span class="spacer"></span>
    <button mat-mini-fab (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</mat-toolbar>

<div class="divider"></div>

<app-header-message #msg></app-header-message>

<mat-toolbar>
    <span class="spacer"></span>
    <button mat-mini-fab (click)="isEdit = !isEdit">
        <mat-icon>{{isEdit ? "info" : "mode_edit"}}</mat-icon>
    </button>
    <button mat-mini-fab (click)="delete()">
        <mat-icon>remove</mat-icon>
    </button>
</mat-toolbar>

<div class="divider"></div>

<mat-card>
    <table class="table" *ngIf="!isEdit && !isNew; else edit">
        <thead class="thead-dark">
            <tr>
                <!-- <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">OwnerIds</th>
                <th scope="col">UserIds</th> -->
                <th scope="col" *ngFor="let key of keys">{{key}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td>{{entity.id}}</td>
                <td>{{entity.name}}</td>
                <td>{{entity.ownerIds}}</td>
                <td>{{entity.userIds}}</td> -->
                <td *ngFor="let key of keys">{{entity[key] || "null"}}</td>
            </tr>
        </tbody>
    </table>

    <ng-template #edit>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <mat-form-field>
                <input matInput type="text" placeholder="Id" [(ngModel)]="entity.id" name="id" disabled required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Name" [(ngModel)]="entity.name" name="name" required />
                <button mat-button *ngIf="entity.name" matSuffix mat-icon-button aria-label="Clear" (click)="entity.name=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="OwnerIds" [(ngModel)]="entity.ownerIds" name="ownerIds" multiple required>
                    <mat-option *ngFor="let pair of ownerPairs" [value]="pair.key">
                        {{ pair.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="UserIds" [(ngModel)]="entity.userIds" name="userIds" multiple>
                    <mat-option *ngFor="let pair of userPairs" [value]="pair.key">
                        {{ pair.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="ParentId" [(ngModel)]="entity.parentId" name="parentId">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let pair of teamPairs" [value]="pair.key">
                        {{ pair.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="d-flex">
                <span class="spacer"></span>
                <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">{{isNew ? "Save" : "Update"}}</button>
                <button type="button" mat-raised-button (click)="resetForm()">Reset</button>
            </div>
        </form>
    </ng-template>
</mat-card>