/* mat-card {
    height: 50px;
} */

mat-card {
    width: 100%;
}

.card_column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column_wrapper {
    height: 100%;
    width: 98%;
    position: relative;
    top: 52px;
}