<mat-toolbar>
  <span>Task</span>
  <span class="spacer"></span>
  <a mat-mini-fab [routerLink]="['/task', 'null']" routerLinkActive="active">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<div class="divider"></div>

<app-header-message></app-header-message>

<mat-toolbar>
  <span class="spacer"></span>
  <button mat-mini-fab (click)="isList = !isList">
    <mat-icon>list</mat-icon>
  </button>
</mat-toolbar>

<mat-card *ngIf="!isList">

</mat-card>

<mat-card *ngIf="isList">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-truncate">
        <ng-container *ngIf="i === 0">
          <a [routerLink]="['/task', row.id]"><span matTooltip="{{row[column]}}">{{row[column]}}</span></a>
        </ng-container>
        <ng-container *ngIf="i > 0 && column === 'assigneeId'">
          {{userService.getDisplayNameByUserId(row[column])}}
        </ng-container>
        <ng-container *ngIf="i > 0 && column !== 'assigneeId'">{{row[column]}}</ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSizeOptions]="[25, 50, 100]" [showFirstLastButtons]="true"></mat-paginator>
</mat-card>