<mat-toolbar>
  <span>Task</span>
  <span class="spacer"></span>
  <a mat-mini-fab routerLink="/task/null" routerLinkActive="active">
    <mat-icon>add</mat-icon>
  </a>
</mat-toolbar>

<app-header-message></app-header-message>

<div class="divider"></div>

<mat-card>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="/task/{{row.id}}">{{row.id}}</a>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- OwnerIds Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let row" class="text-truncate"> {{row.description}} </mat-cell>
    </ng-container>

    <!-- UserIds Column -->
    <ng-container matColumnDef="reporterId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ReporterId</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.reporterId}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
</mat-card>