<h1>Team</h1>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="/team/{{row.id}}">{{row.id}}</a>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- OwnerIds Column -->
    <ng-container matColumnDef="ownerIds">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Owner Ids</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.ownerIds}} </mat-cell>
    </ng-container>

    <!-- UserIds Column -->
    <ng-container matColumnDef="userIds">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User Ids</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.userIds}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
</div>