<mat-toolbar>
  <span>Performance-Team</span>
</mat-toolbar>

<div class="divider"></div>

<mat-toolbar class="calculate">
  <span class="spacer"></span>
  <mat-form-field>
    <mat-select [(ngModel)]="interval" placeholder="Interval">
      <mat-option *ngFor="let pair of intervals" [value]="pair.value">
        {{pair.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="ml-2">
    <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" placeholder="Start date">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="ml-2">
    <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" placeholder="End date">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
  <button type="button" class="ml-2" mat-raised-button (click)="calculate()">Calculate</button>
</mat-toolbar>

<div class="divider"></div>

<mat-toolbar>
  <a class="mr-2" [routerLink]="['/performance/user', pair.key]" routerLinkActive="active" *ngFor="let pair of userPairs">
    <button mat-raised-button>{{pair.value}}</button>
  </a>
</mat-toolbar>

<div class="divider"></div>

<mat-tab-group>
  <mat-tab label="Chart">
    <!-- Value 线图 -->
    <div echarts [options]="option1"></div>
    <div class="divider"></div>

    <!-- 各阶段总的分布时间 饼图 -->
    <div echarts [options]="option2"></div>
    <div class="divider"></div>

    <!-- 总时间 线表 -->
    <mat-toolbar>
      <span class="spacer"></span>
      <mat-checkbox class="ml-2" [(ngModel)]="pair.value" (change)="reloadPhases()" *ngFor="let pair of phasePairs">{{pair.key}}</mat-checkbox>
      <mat-checkbox class="ml-2" [(ngModel)]="isPhaseAll" (change)="switchAll()">All</mat-checkbox>
    </mat-toolbar>
    <div echarts [options]="option3"></div>
  </mat-tab>
  <mat-tab label="Table">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="text-truncate">
          <ng-container *ngIf="i === 0 else text">
            <a [routerLink]="['/team', row.id]">{{row[column]}}</a>
          </ng-container>
          <ng-template #text>{{row[column]}}</ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-tab>
</mat-tab-group>