<mat-toolbar>
    <span>Task Detail</span>
    <span class="spacer"></span>
    <button mat-mini-fab (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</mat-toolbar>

<div class="divider"></div>

<app-header-message #msg></app-header-message>

<mat-toolbar *ngIf="!isNew">
    <span class="spacer"></span>
    <button mat-mini-fab class="mr-2" (click)="isEdit = !isEdit">
        <mat-icon>{{isEdit ? "info" : "mode_edit"}}</mat-icon>
    </button>
    <button mat-mini-fab (click)="delete()">
        <mat-icon>remove</mat-icon>
    </button>
</mat-toolbar>

<div class="divider"></div>

<mat-card>
    <table class="table table-bordered" *ngIf="!isEdit && !isNew; else edit">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let key of keys">
                <td>{{key}}</td>
                <td>{{toJson(entity[key])}}</td>
            </tr>
        </tbody>
    </table>

    <ng-template #edit>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <mat-form-field>
                <input matInput type="text" placeholder="Id" [(ngModel)]="entity.id" name="id" disabled required />
            </mat-form-field>

            <mat-form-field>
                <input matInput type="text" placeholder="Title" [(ngModel)]="entity.title" name="title" required />
                <button mat-button *ngIf="entity.name" matSuffix mat-icon-button aria-label="Clear" (click)="entity.title=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput matTextareaAutosize type="text" placeholder="Description" [(ngModel)]="entity.description" name="description"
                    required></textarea>
                <button mat-button *ngIf="entity.name" matSuffix mat-icon-button aria-label="Clear" (click)="entity.description=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field *ngIf="authService.isAdmin()">
                <mat-select placeholder="ReporterId" [(ngModel)]="entity.reporterId" name="reporterId" required>
                    <mat-option *ngFor="let pair of userPairs" [value]="pair.key">
                        {{ pair.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="!authService.isAdmin()">
                <input matInput type="text" placeholder="ReporterId" [(ngModel)]="entity.reporterId" name="reporterId" disabled />
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="AssigneeId" [(ngModel)]="entity.assigneeId" name="assigneeId">
                    <mat-option *ngFor="let pair of userPairs" [value]="pair.key">
                        {{ pair.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="TeamId" [(ngModel)]="entity.teamId" name="teamId">
                    <mat-option *ngFor="let pair of teamPairs" [value]="pair.key">
                        {{ pair.value }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="d-flex">
                <span class="spacer"></span>
                <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">{{isNew ? "Save" : "Update"}}</button>
                <button type="button" class="ml-2" mat-raised-button (click)="resetForm()">Reset</button>
            </div>
        </form>
    </ng-template>
</mat-card>