/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
	height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}
  
.container > * {
    width: 100%;
}

.goBack {
    float: right !important;
    margin-top: -50px;
    margin-bottom: 10px;
}

button:focus {
    outline: none;
    border: 0;
}