/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng2-dnd/bundles/style.css";

button:focus {
    outline: none;
    border: 0;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ff4081;
}

.divider:after {
    content: "";
    display: block;
    height: 10px;
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}

form, form mat-form-field {
    width: 100%;
}
