/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
    height: 100%;
}

button:focus {
    outline: none;
    border: 0;
}

a:hover {
    text-decoration: none;
}

.divider:after {
    content: "";
    display: block;
    height: 10px;
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}

form, form mat-form-field {
    width: 100%;
}
