.wrapper {
    min-height: 100%;
    margin-bottom: -66px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 66px; 
}

footer {
    height: 66px;
}

.divider:after {
    content: "";
    display: block;
    height: 10px; 
}

.footer_content_wrapper {
    height: 56px;
    display: table;
}

.footer_content {
    padding: 8px;
    display: table-cell;
    vertical-align: middle;
}