<h1>User</h1>

<div class="float-right mb-2">
  <a routerLink="/user/null" routerLinkActive="active">
    <button mat-fab>
      <mat-icon>person_add</mat-icon>
    </button>
  </a>
</div>

<div class="clearfix"></div>

<app-header-message></app-header-message>

<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <a routerLink="/user/{{row.id}}">{{row.id}}</a>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- NickName Column -->
    <ng-container matColumnDef="nickName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nick Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nickName}} </mat-cell>
    </ng-container>

    <!-- MobileNo Column -->
    <ng-container matColumnDef="mobileNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile No</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.mobileNo}} </mat-cell>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.level}} </mat-cell>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
</div>